@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@charset "UTF-8";

body {
    padding: 0;
    margin: 0;
    font-family :'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' !important; 
}

a{
	text-decoration:none;
	color:black;
}

* {box-sizing: border-box; font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' }


#container {
	width:100%;
	height: auto;
	display: inline-block;
}

#content_box {
	width: 70%;
	margin:0 auto;
}

.title{
    padding: 40px 30px;
    font-size: 27px;
    font-weight: 400;
}

.content{
	width:100%;
}

.button{
	width: 145px;
    height: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background: white;
    color: #303960;
    border: none;
    font-weight: 100;
    font-size: 15px;
}

.button:hover, .button_active, .button:focus{
    background: #303960;
    color: white;
    outline: none;
}

#content_detail{
	width:100%;
	border-top:1.5px solid #303960;
	height:10px;
}

#detailSection{
	width:100%;
	height:300px;
	margin-bottom:60px;
}

#mapSection{
	width:100%;
	height:350px;
}

#contact{
	width:48%;
	height:300px;
	display:inline-block;
	float:left;
	padding: 28px 47px;
}

.middle_bar {
	width:1.5px;
	height:300px;
	display:inline-block;
	float:left;
	background-color:rgb(218 218 218 / 30%);
}

#contact_detail {
	width:48%;
	height:300px;
	display:inline-block;
	float:right;
}

#contact>span {
	white-space: pre-line;
	line-height: 40px;
	font-size: 18px;
    font-weight: 100;
}

#contact_detail li{
	margin: 30px 0;
}

#contact_detail img{
	width:40px;
	position: relative;
    top: 13px;
    margin-right: 17px;
}

#contact_detail button{
	border: none;
    background: none;
}
#contact_detail button:hover{
	cursor:pointer;
}
#contact_detail button:focus{
	outline:none;
}
#contact_detail button>i{
	font-size: 16px;
    color: #a7a4a4;
} 
#copy_alert{
	display: inline-block;
    width: 65px;
    background-color: black;
    color: white;
    padding: 4px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 11px;
    font-weight: 100;
    opacity: 0;
}

.city pre{
	white-space: pre-wrap;
}