@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

.loader-wrapper {
	z-index:10;
	width:100%;
	height:100vh;
	position: absolute;
	top:0;
	left:0;
	background-color:#1f0d0d;
	display:flex;
	justify-content:center;
	align-items:center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #f8b24f;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #f8b24f;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
header{
	width:100%;
    height:290px;
    background-color: #1f0d0d;
}

header>img {
    width: 258px;
    position: absolute;
    top: 61px;
    left: 43%;
}

.m_p_zero{
    margin:0; padding:0;
}

#user_info{
    text-align: right;
    color:#d5d0de;
    padding-top: 20px;
    padding-right: 20px;
}
#user_info span {
    padding:20px;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
}
#user_info span a{
    cursor: pointer;
}
#user_info span a:link, #user_info span a:visited{
    color:#d5d0de; text-decoration: none;
}
#main_sidebar {
    z-index: 1;
    width: 98px;
    height: 351px;
    background-image: url("../image/sidebar.png");
    background-repeat: no-repeat;
    position: fixed;
    top: 25%;
    right: 5%;
}

#sidebar_list {
    height: 305px;
    padding: 0;
}

#sidebar_list>li:nth-child(1) {
	position: relative;
    left: -6px;
    padding: 4px 0px 5px 23px;
    margin: 0;
}

#sidebar_list>li:nth-child(2) {
    padding: 9px 0px 5px 18px;
    margin: 0;
}
#sidebar_list>li:nth-child(3) {
    padding: 11px 0px 5px 17px;
    margin: 0;
}
#sidebar_list>li>a{
	width:75px;
}
#sidebar_list>li:nth-child(4) {
    padding: 6px 0px 0px 19px;
    margin: 0;
}

#sidebar_list>li>a>img {
    cursor: pointer;
}

#mypageMenu {
    position: absolute;
    top: 0px;
    left: -110px;
    background-color: rgba(255, 255, 255, 0.522);
    text-align: left;
    padding: 10px 10px 10px 10px;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    border-radius: 4px;
    display: none;
}
#subMenu{
	width:87px;
	position: absolute;
    top: 193px;
    left: -116px;
    background-color: rgba(255, 255, 255, 0.522);
    text-align: left;
    padding: 10px 10px 10px 10px;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    border-radius: 4px;
    display: none;
}
#mypageMenu::after, #subMenu::after {
    content: "";
    position: absolute;
    top: 32%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.522);
  }

.square {
    width: 4px;
    height: 16px;
    background-color: sandybrown;
    position: relative;
    top: 2px;
    right: 9px;
    display: inline-block;
    visibility: hidden;
}

#mypageMenu li:hover, #subMenu li:hover{
    cursor: pointer;
}

#mypageMenu li, #subMenu li {
    color:#303960f0;
    padding: 5px; font-size: 14px; font-weight: 600;
}
#mypageMenu li a:link, #mypageMenu li a:visited, #subMenu li a:link, #subMenu li a:visited{
    color:#303960; text-decoration: none;
}
/*#sidebar_list li#mypage:hover #mypageMenu{
    display:block;
}
*/

ul {
    list-style-type: none;
}

@media screen and (max-width:1480px){
    #main_sidebar {
        z-index: 1;
        width: 98px;
        height: 351px;
        position: fixed;
        top: 25%;
        left: 7%;
    }
}


.img_tooltip {
    position: relative;
    display: inline-block;
  }
  
  .img_tooltip .tooltipcontent {
    font-size: 11px;
    visibility: hidden;
    width: 85px;
    line-height: 25px;
    background-color: #000000cc;
    color:#ffffffd1;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    position: absolute;
    z-index: 1;
    top: 14px;
    bottom: auto;
    right: -120%;
    margin-left: -60px;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 

    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .img_tooltip:hover .tooltipcontent {
    visibility: visible;
    opacity: 1;
  }



footer{
    height: 200px;
}