@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
*{font-family: font-family :'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' !important;}

table {
	width: 100%;
	border-collapse: collapse;
}

.content_table td{
	text-align:center;
    font-size: 15px;
    padding: 9px 0;
} 

.content_table>thead td{
	font-weight: 500;
} 

.content_table>tbody td{
	font-weight: 200;
} 

td>a {
	text-decoration: none;
	color: black;
}

td>a:hover{
	text-decoration: underline;
}

td>a:active, td>a:visited{
	text-decoration: none;
	color: black;
}
.content_table .fa-heart{
	font-size: 17px;
    color: #f50057;
    padding: 0 6px;
    cursor: pointer;
}

.content_table .fa-long-arrow-up{
	padding: 0 2px;
    font-size: 14px;
    position: relative;
    top: -1.6px;
    color: #2c3fc6;
}
.content_table .fa-plus{
	padding: 0 1px 0 10px;
    font-size: 7px;
    position: relative;
    top: -3px;
    color: #2c3fc6;
}

.content_table .fa-plus+span{
	color: #2c3fc6;
    font-weight: 700;
    font-size: 12px;
    position: relative;
    top: -1.6px;
}

.content_table>thead td:nth-child(1){width:19%} 
.content_table>thead td:nth-child(2){width:35%} 
.content_table>thead td:nth-child(3){width:13%} 
.content_table>thead td:nth-child(4){width:9%} 
.content_table>thead td:nth-child(5){width:11%} 
.content_table>thead td:nth-child(6){width:5%} 
.content_table>thead td:nth-child(7){width:10%} 
.content_table>tbody td:nth-child(1){width:4%} 
.content_table>tbody td:nth-child(2){width:11%} 
.content_table>tbody tr:nth-child(odd){height:70px;}
.content_table>tbody tr td:nth-child(3){
	padding: 10px;
}
.content_table>tbody tr:nth-child(odd) > td{
	border-top: 1px solid #00000005;
}
.content_table>tbody tr:nth-child(1) > td{
	border-top: none;
}
.content_table>tbody tr:nth-child(even) > td{
	padding: 6px 17px 6px 35px;
	text-align:left;
}
tr>td>img {
	width: 104px;
    height: 144px;
}

#filtering_wrap{
	box-sizing: border-box;
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

#filtering_box{
	box-sizing: border-box;
    width: 94%;
    display: inline-block;
    height: 50px;
    padding: 13px 46px;
    text-align: left;
}

#filtering_wrap .fa-filter{
	font-size: 20px;
    color: #b0b9cc94;
    position: relative;
    top: 5px;
}
#filtering_wrap .fa-filter:hover{
	cursor:pointer;
	color:#303960;
}

.filter{
	display:inline-block;
	height: 20px;
    width: auto;
    border: 2px solid #bfbcbc38;
    border-radius: 20px;
    padding:6px 5px 6px 12px;
    text-align: center;
    font-size: 13px;
    min-width: 50px;
}

.filter>i{
	font-size: 12px;
    padding: 0 2px;
    color: #b0b9cc94;
    margin-left: 4px;
}

.filter>i:hover {
	color:#303960;
	cursor:pointer;
}

#filtering_detail{
	box-sizing: border-box;
    width: 94%;
    height: auto;
    margin-left: 45px;
    display:none;
    padding: 15px;
    text-align: left;
}

.filter_bar{
	display: inline-block;
    width: 3px;
    height: 24px;
    margin: 0 10px;
    background: #f3f3f7;
    position: relative;
    top: 6px;
}

#filter_form input[type=checkbox]{
	margin-left: 4px;
}
#filter_form label{
	width: 48px;
    display: inline-block;
	
}

#filter_button{
	width: 95px;
    height: 34px;
    border: none;
    background: #303960;
    color: white;
    position: relative;
    left: 800px;
}


.r-list{
    --uirListPaddingLeft: var(--rListPaddingLeft, 0);
    --uirListMarginTop: var(--rListMarginTop, 0);
    --uirListMarginBottom: var(--rListMarginBottom, 0);
    --uirListListStyle: var(--rListListStyle, none);
  
    padding-left: var(--uirListPaddingLeft) !important;
    margin-top: var(--uirListMarginTop) !important;
    margin-bottom: var(--uirListMarginBottom) !important;
    list-style: var(--uirListListStyle) !important;
  }
  
  .r-link{
    --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
    --uirLinkTextColor: var(--rLinkTextColor);
    --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
    display: var(--uirLinkDisplay) !important;
    color: var(--uirLinkTextColor) !important;
    text-decoration: var(--uirLinkTextDecoration) !important;
  }
  
  .pagination{
    --uiPaginationDisplay: var(--paginationDisplay, flex);
    --uiPaginationAlignmentX: var(--paginationAlignmentX, flex-start);
    --uiPaginationAlignmentY: var(--paginationAlignmentY, center);
  
    --uiPaginationGroupMargin: var(--paginationGroupMargin, .25em);
    --uiPaginationPointPadding: var(--paginationPointPadding, .5875em .8em);  
    
    display: var(--uiPaginationDisplay);
    flex-wrap: wrap;
    align-items: var(--uiPaginationAlignmentY);
    justify-content: var(--uiPaginationAlignmentX);  
  }
  
  .pagination__list{
    display: flex;
    flex-wrap: wrap;
    align-items: var(--uiPaginationAlignmentY);
    justify-content: var(--uiPaginationAlignmentX);  
  }
  
  .pagination__group:nth-child(n+2){
    margin-left: var(--uiPaginationGroupMargin);
  }
  
  .pagination__point{
    padding: var(--uiPaginationPointPadding);
    line-height: 1;  
  }
  
  .pagination{
    --uiPaginationPointBorderRadius: var(--paginationPointBorderRadius);
    --uiPaginationPointBgColor: var(--paginationPointBgColor);
    --uiPaginationPointBorderWidth: var(--paginationPointBorderWidth);
    --uiPaginationPointBorderColor: var(--paginationPointBorderColor);
    --uiPaginationPointFontWeight: var(--paginationPointFontWeight);
    --uiPaginationPointTextColor: var(--paginationPointTextColor);  
    
    --rLinkTextColor: var(--paginationPointTextColor);
    
    --uiPaginationActivePointTextColor: var(--paginationActivePointTextColor);  
    --uiPaginationActivePointFontWeight: var(--paginationActivePointFontWeight, 700);
    --uiPaginationActivePointBgColor: var(--paginationActivePointBgColor);
    --uiPaginationActivePointBorderWidth: var(--paginationActivePointBorderWidth, 0);
    --uiPaginationActivePointBorderColor: var(--paginationActivePointBorderColor, transparent);  
  
    --uiPaginationArrowSize: var(--paginationArrowSize, 22px);
    --uiPaginationArrowMargin: var(--paginationArrowMargin, .25em);
    --uiPaginationArrowDisplay: var(--paginationArrowDisplay, inline-flex);  
  }
  
  .pagination__point{
    background-color: var(--uiPaginationPointBgColor);
    border: var(--uiPaginationPointBorderWidth) solid var(--uiPaginationPointBorderColor);
    border-radius: var(--uiPaginationPointBorderRadius);  
  
    font-weight: var(--uiPaginationPointFontWeight);
    color: var(--uiPaginationPointTextColor);    
  }
  
  span.pagination__point{
    --uiPaginationPointBgColor: var(--uiPaginationActivePointBgColor);
    --uiPaginationPointBorderWidth: var(--uiPaginationActivePointBorderWidth);
    --uiPaginationPointBorderColor: var(--uiPaginationActivePointBorderColor);
    --uiPaginationPointFontWeight: var(--uiPaginationActivePointFontWeight);
    --uiPaginationPointTextColor: var(--uiPaginationActivePointTextColor);
    
    display: inline-flex;  
  }
  
  .pagination__control{
    position: relative;
    align-items: center;
  }
  
  .pagination__control::before, 
  .pagination__control::after{
    display: var(--uiPaginationArrowDisplay);
    height: 1em;
    font-size: var(--uiPaginationArrowSize);
    line-height: 1;
  }
  
  .pagination__control_prev{
    margin-right: 10px;
  }
  
  .pagination__control_prev::before{
    content: "←";
    margin-right: var(--uiPaginationArrowMargin);
  }
  
  .pagination__control_next{
    margin-left: 10px;
  }
  
  .pagination__control_next::after{
    content: "→";
    margin-left: var(--uiPaginationArrowMargin);
  }
  
  :root{
    --paginationFontSize: 1.6rem;
    --paginationActivePointBgColor: rgba(0, 0, 0, .3);
    --paginationPointTextColor: #fff;
    --paginationActivePointTextColor: #fff;
  }
  
.demo{
    --paginationPointTextColor: #303960;
    --paginationActivePointBgColor: #303960;
    --paginationAlignmentX: center;  
}


.section{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    font-size: 1rem;
}
  
.demo{
    box-sizing: border-box;
    position: relative;
    padding: 5rem 3rem;
}

